# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
cliente = pd.read_csv('demo01.csv')
cliente.head()

,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau
0,M,Y,Y,0,Working,Secondary / secondary special,Married,House / apartment,58.832877,3.106849,1,0,0,0,2.0,False
1,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
2,F,N,Y,0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.356164,8.358904,1,0,1,1,1.0,False
3,M,Y,Y,0,Working,Higher education,Married,House / apartment,46.224658,2.106849,1,1,1,1,2.0,False
4,F,Y,N,0,Working,Incomplete higher,Married,House / apartment,29.230137,3.021918,1,0,0,0,2.0,False

In [7]:
# Informações sobre as colunas
print(cliente.info())

# Verificando valores ausentes
print(cliente.isnull().sum())

# Distribuição da variável resposta
print(cliente['mau'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16650 entries, 0 to 16649
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   sexo                   16650 non-null  object
 1   posse_de_veiculo       16650 non-null  object
 2   posse_de_imovel        16650 non-null  object
 3   qtd_filhos             16650 non-null  int64
 4   tipo_renda             16650 non-null  object
 5   educacao               16650 non-null  object
 6   estado_civil           16650 non-null  object
 7   tipo_residencia        16650 non-null  object
 8   idade                  16650 non-null  float64
 9   tempo_emprego          16650 non-null  float64
 10  possui_celular         16650 non-null  int64
 11  possui_fone_comercial  16650 non-null  int64
 12  possui_fone            16650 non-null  int64
 13  possui_email           16650 non-null  int64
 14  qt_pessoas_residencia  16650 non-null  float64
 15  mau                    16650 non-null  bool
dtypes: bool(1), float64(3), int64(5), object(7)
memory usage: 1.9+ MB
None
sexo                     0
posse_de_veiculo         0
posse_de_imovel          0
qtd_filhos               0
tipo_renda               0
educacao                 0
estado_civil             0
tipo_residencia          0
idade                    0
tempo_emprego            0
possui_celular           0
possui_fone_comercial    0
possui_fone              0
possui_email             0
qt_pessoas_residencia    0
mau                      0
dtype: int64
mau
False    16260
True       390
Name: count, dtype: int64

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [9]:
metadados = pd.DataFrame({'variavel': cliente.columns})
metadados['tipo_dado'] = cliente.dtypes
metadados['qtd_categorias'] = [len(cliente[col].unique()) for col in cliente.columns]
print(metadados)

                 variavel tipo_dado  qtd_categorias
0                    sexo       NaN               2
1        posse_de_veiculo       NaN               2
2         posse_de_imovel       NaN               2
3              qtd_filhos       NaN               8
4              tipo_renda       NaN               5
5                educacao       NaN               5
6            estado_civil       NaN               5
7         tipo_residencia       NaN               6
8                   idade       NaN            5298
9           tempo_emprego       NaN            3005
10         possui_celular       NaN               1
11  possui_fone_comercial       NaN               2
12            possui_fone       NaN               2
13           possui_email       NaN               2
14  qt_pessoas_residencia       NaN               9
15                    mau       NaN               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [19]:
# Identificando variáveis categóricas
categorical_cols = cliente.select_dtypes(include=['object']).columns

# Criando variáveis dummy
cliente_dummy = pd.get_dummies(cliente, columns=categorical_cols, drop_first=True)

# Não é necessário excluir as variáveis originais pois elas já foram substituídas
# cliente_dummy.drop(categorical_cols, axis=1, inplace=True)

print(cliente_dummy.head())

   qtd_filhos      idade  tempo_emprego  possui_celular  \
0           0  58.832877       3.106849               1
1           0  52.356164       8.358904               1
2           0  52.356164       8.358904               1
3           0  46.224658       2.106849               1
4           0  29.230137       3.021918               1

   possui_fone_comercial  possui_fone  possui_email  qt_pessoas_residencia  \
0                      0            0             0                    2.0
1                      0            1             1                    1.0
2                      0            1             1                    1.0
3                      1            1             1                    2.0
4                      0            0             0                    2.0

     mau  sexo_M  ...  educacao_Secondary / secondary special  \
0  False    True  ...                                    True
1  False   False  ...                                    True
2  False   False  ...                                    True
3  False    True  ...                                   False
4  False   False  ...                                   False

   estado_civil_Married  estado_civil_Separated  \
0                  True                   False
1                 False                   False
2                 False                   False
3                  True                   False
4                  True                   False

   estado_civil_Single / not married  estado_civil_Widow  \
0                              False               False
1                               True               False
2                               True               False
3                              False               False
4                              False               False

   tipo_residencia_House / apartment  tipo_residencia_Municipal apartment  \
0                               True                                False
1                               True                                False
2                               True                                False
3                               True                                False
4                               True                                False

   tipo_residencia_Office apartment  tipo_residencia_Rented apartment  \
0                             False                             False
1                             False                             False
2                             False                             False
3                             False                             False
4                             False                             False

   tipo_residencia_With parents
0                         False
1                         False
2                         False
3                         False
4                         False

[5 rows x 29 columns]

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [22]:
# Tabela cruzada
pd.crosstab(cliente['possui_email'], cliente['posse_de_veiculo'], values=cliente['mau'], aggfunc='mean')

posse_de_veiculo         N         Y
possui_email
0                 0.024944  0.021788
1                 0.016726  0.024883

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [25]:
cliente_dummy.to_csv('cliente_preparado.csv', index=False)